/* how to keep same size */
.cardContainer {
  /* background-color: yellow; */
  border-radius: 12px;
  overflow: scroll;

  max-width: 20%; /* Adjust the percentage for dynamic width */
  min-width: 30vh; /* Adjust the percentage for dynamic width */

  min-height: 40vh;
  max-height: 40vh;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0.5%;

  flex: 1;
  display: flex;
  flex-direction: column;
}

/* where is this being put? */
.cardPhoto {
  /* see how i can rewrite style with flexboxes */
  flex: 2;
  background-color: black;
  width: 100%;
  min-height: 20vh;
  max-height: 20vh;
  object-fit: scale-down;
}

.cardContent {
  background-color: #dddddd;
  padding: 5%;

  max-width: 30vh;
  min-height: 20vh;
  max-height: 20vh;

  overflow: scroll;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.cardHeading {
  flex: 1;
  /* background-color: pink; */
  /* overflow: scroll; */
  font-size: 1rem;
  /* margin-bottom: 8px; */
}

.cardDescription {
  flex: 3;
  /* background-color: yellow; */
  font-size: 0.8rem;
  color: #555;
  overflow: scroll;
  /* margin-bottom: 16px; */
}

.cardButton {
  flex: 0.5;
  background-color: #8c1515;
  color: #fff;
  border: none;
  padding: 3%;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 4px;
}

.cardButton:hover {
  background-color: #4c0808;
}
