.cardContainer {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.cardContainer:hover {
  transform: scale(1.05);
}
/* where is this being put? */
.cardPhoto {
  width: 100%;
  border-radius: 10px;
  height: 180px;
  object-fit: cover;
}

.cardContent {
  /* background-color: #dddddd; */
  padding: 5%;

  min-height: 20vh;
  max-height: 20vh;

  overflow: scroll;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.cardHeading {
  /* flex: 1; */
  /* background-color: pink; */
  /* overflow: scroll; */
  /* font-size: 1rem; */
  /* margin-bottom: 8px; */
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.cardDescription {
  /* flex: 3; */
  /* background-color: yellow; */
  /* font-size: 0.8rem; */
  /* color: #555; */
  /* overflow: scroll; */
  /* margin-bottom: 16px; */
  font-size: 0.9rem;
  color: #555;
}

.cardButton {
  flex: 0.5;
  background-color: #8c1515;
  color: #fff;
  border: none;
  padding: 7%;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 4px;
}

.cardButton:hover {
  background-color: #4c0808;
}
