/* NOTE: the only one in use rn */
.right-button {
  background-color: lightgreen;
  /* background-color: lightcoral; */

  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}

.bottom-button {
  background-color: lightcoral;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 14%;
}

.second-left {
  background-color: white;
  color: black;
  position: absolute;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  top: 3%;
  left: 10%;
}

.second-right {
  background-color: white;
  color: black;
  position: absolute;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  top: 3%;
  right: 10%;
}

.left-icon {
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  left: 75%;
  /* left: 3%; */
}

.icon {
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}
.left-button {
  /* background-color: lightgreen; */
  background-color: lightcoral;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  left: 3%;
}
